.btnCreateListing {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.newItemCont,
.profileCont {
  padding: 2rem;
  margin: 2rem;
  border: #4caf50 1em solid;
  border-radius: 5px;
}
.listingsCont {
  margin: 2rem;
}

a {
  color: #000;
}
.listingAvatar {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}
.listingAvatar img {
  object-fit: cover;
}

.img-thumbnail {
  width: 50rem;
  height: 20rem;
  object-fit: cover;
}
