html,
body {
  height: 100%;
}

/* colors 
black: #000
white: #fff 
light pink: #E086FC
dark pink: #9A54B0
green: #4CAF50
light orange: #FC6F53
dark orange: #B05543
*/
h1,
h2,
h3 {
  text-align: center;
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
  font-weight: 400;
}

.fa-pen-to-square {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.hide {
  display: none !important;
}
body {
  min-height: 60rem;
  margin-top: 3rem;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between !important;
}

.bg-dark {
  background-color: #000;
}
.navbar-brand {
  max-width: 6rem;
}

.navbar-brand img {
  width: 80%;
  margin-left: 20px;
}

.btn {
  color: #fff;
  background-color: #000;
  margin: 0.5rem 0rem 0rem 0rem;
}

.searchBtn {
  border-color: #e086fc;
  width: 10rem;
  text-align: center;
}

.breadcrumb {
  display: block;

  width: 85%;
}

.breadcrumb a {
  color: #9a54b0;
}

.btn-rounded {
  margin: 5px;
}

.registerSuccess,
.registerError,
.signinError,
.signinSuccess,
.postSuccess,
.postError {
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.registerSuccess,
.signinSuccess,
.postSuccess {
  background: #4caf50;
}

.registerError,
.signinError,
.postError {
  background: red;
}
.registerErrorTop,
.signinErrorTop {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .updateForm {
    max-width: 25rem;
  }
}
@media screen and (max-width: 420px) {
  .updateForm {
    max-width: 15rem;
  }
}
