<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LeafTrade - Listings</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/index.css">
        <script src="https://kit.fontawesome.com/cf5488008f.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-light d-flex py-5">
        <Header>
            <nav class="navbar navbar-dark fixed-top navbar-expand-sm bg-body-tertiary bg-dark">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="index.html"><img src="../images/leafTradeLogoLight.png" alt="logo image"></a>
                    <button class="navbar-toggler" id="hamburgerBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbarItems" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="search.html">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="profile.html">Profile</a>
                            </li>
                            <li class="nav-item logout">
                                <a class="nav-link" href="login.html">Logout</a>
                            </li>
                        </ul>
                        <div class="credit">Credits: <span class="headerCredits"></span>,-</div>
                        <a class="navbar-avatar" href="profile.html"><img class="headerAvatar" src="" alt=""></a>
                    </div>
                </div>
            </nav>
        </Header>
        <main class="col-12 d-flex justify-content-center align-items-center flex-column">

            <div class="displayMSG"></div>
            <h1>Welcome <div class="profileName"></div>
            </h1>
            <div class="container newItemCont new-post col-9 col-md-6 col-lg-5">
                <h2>Create New Listing</h2>
                <form class="must-validate listingForm">
                    <div class="mb-3 d-flex flex-column">
                        <label for="titleInput" class="form-label">Item:</label>
                        <input type="text" class="form-control" id="titleInput" required title="please enter item name" aria-describedby="itemHelp" placeholder="Ex: Car">
                        <div id="itemHelp" class="form-text">What are you selling?</div>
                    </div>
                    <div class="mb-3">
                        <label for="descriptionInput" class="form-label">Item Description:</label>
                        <textarea required title="please enter item description" class="form-control" id="descriptionInput" rows="3" placeholder="Ex: Condition, asking price ++"></textarea>
                    </div>

                    <!-- <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div> -->
                    <div class="mb-3 d-flex flex-column">
                        <label for="mediaInput" class="form-label">Image URL:</label>
                        <input type="url" required title="please enter image URL" class="form-control" id="mediaInput" placeholder="Ex: https://car.com/image.jpg" aria-describedby="itemHelp">
                        <div id="itemHelp" class="form-text">required</div>

                    </div>
                    <div class="mb-3 d-flex flex-column">
                        <label for="mediaInput2" class="form-label">Image 2 URL:</label>
                        <input type="url" class="form-control" id="mediaInput2" placeholder="Ex: https://car.com/image.jpg" aria-describedby="itemHelp">
                        <div id="itemHelp" class="form-text">optional</div>
                    </div>
                    <div class="mb-3 d-flex flex-column">
                        <label for="mediaInput3" class="form-label">Image 3 URL:</label>
                        <input type="url" class="form-control" id="mediaInput3" placeholder="Ex: https://car.com/image.jpg" aria-describedby="itemHelp">
                        <div id="itemHelp" class="form-text">optional</div>
                    </div>
                    <div class="mb-3">
                        <label for="date">Auction Deadline:</label>
                        <input type="date" id="date">
                    </div>
                    <div class="btnCreateListing">
                        <button type="submit" class="btn btn-primary ">Create Listing</button>
                    </div>
                </form>
            </div>
            <div class="container list-post col-8 col-lg-5 justify-content-center align-items-center">
                <h3>Recent listings:</h3>


            </div>

            <div class="loader">
                <p>Loading listings, please wait...</p>
            </div>

            <div class=" listingsCont row row-cols-1 row-cols-md-2 g-4">


            </div>
        </main>

        <footer id="footer" class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2023 LeafTrade Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>

        <script src="/js/script.mjs" type="module"></script>
        <script src="/js/index.mjs" type="module"></script>


    </body>

</html>