<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LeafTrade - Listing nrjdjsdhj</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/listing.css">
        <script src="https://kit.fontawesome.com/cf5488008f.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-light d-flex py-5">
        <Header>
            <nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-body-tertiary bg-dark">
                <div class="container-fluid ">
                    <a class="navbar-brand" href="index.html"><img src="../images/leafTradeLogoLight.png" alt="logo image"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbarItems" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="search.html">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="profile.html">Profile</a>
                            </li>
                        </ul>
                        <div class="credit">Credits: 100,-</div>
                        <a class="navbar-avatar" href="profile.html"><img src="../images/avatarDefault.png" alt=""></a>
                    </div>
                </div>
            </nav>
        </Header>
        <main class="col-12 d-flex justify-content-center align-items-center flex-column">
            <div class="breadcrumb">listings -> listingjbsckjb</div>
            <div class="displayMSG"></div>
            <h1>Listing title <div class="listingTitle"></div>
            </h1>
            <div class="container bidItemCont new-post col-7 col-lg-6">

                <div class="card">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/ben-white-gEKMstKfZ6w-unsplash.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/bruno-martins-7A6OKPMkVEA-unsplash.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/leafTradeLogo.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p>Deadline:</p>

                        <p>seller:</p>

                    </div>
                </div>
            </div>

            <div class="loader">
                <p>Loading bids, please wait...</p>
            </div>


            <div class="col-9 col-lg-9 container bidCont">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">

                    <div class="card-body p-4">
                        <h2 class="bidsContHeader d-flex justify-content-center flex-column align-items-center">Bids:</h2>
                        <form action="POST" class="must-validate bidForm d-flex justify-content-center flex-column align-items-center">

                            <div class="form-floating">
                                <input type="text" class="form-control placeBid" id="placeBid" required placeholder="placeBid">
                                <label for="placeBid">Enter Bid</label>
                            </div>
                            <button class="w-50 btn btn-lg btn-primary btnAvatar" type="submit">Sumbit Bid</button>
                        </form>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p>Type your note, and hit enter to add it</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25" height="25" />
                                        <p class="small mb-0 ms-2">Martha</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small text-muted mb-0">Upvote?</p>
                                        <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                        <p class="small text-muted mb-0">3</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-body">
                                <p>Type your note, and hit enter to add it</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25" height="25" />
                                        <p class="small mb-0 ms-2">Johny</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small text-muted mb-0">Upvote?</p>
                                        <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                        <p class="small text-muted mb-0">4</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-body">
                                <p>Type your note, and hit enter to add it</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar" width="25" height="25" />
                                        <p class="small mb-0 ms-2">Mary Kate</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center text-primary">
                                        <p class="small mb-0">Upvoted</p>
                                        <i class="fas fa-thumbs-up mx-2 fa-xs" style="margin-top: -0.16rem;"></i>
                                        <p class="small mb-0">2</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <p>Type your note, and hit enter to add it</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="25" height="25" />
                                        <p class="small mb-0 ms-2">Johny</p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small text-muted mb-0">Upvote?</p>
                                        <i class="far fa-thumbs-up ms-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer id="footer" class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2023 LeafTrade Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>


        <script src="js/home.mjs" type="module"></script>

    </body>

</html>