<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LeafTrade - Register</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/login.css">

        <script src="https://kit.fontawesome.com/cf5488008f.js" crossorigin="anonymous"></script>
    </head>

    <body class="bg-light d-flex justify-content-center py-5">
        <Header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html"><img src="../images/leafTradeLogoLight.png" alt="header logo image"></a>

                </div>
            </nav>
        </Header>


        <main class="text-center form-signin w-100 m-auto">
            <div class="displayMSG"></div>
            <form action="/login.html" class="must-validate regForm">
                <img class="mb-5" src="../images/leafTradeLogo.png" alt="logo image" width="auto" height="60">
                <h1 class="h3 mb-3 fw-normal">Register Account</h1>

                <div class="form-floating">
                    <input type="name" class="form-control nameReg" id="nameReg" required title="please enter your name" placeholder="Jane Smith">
                    <label for="nameReg">Name</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control emailReg" id="emailReg" title="please enter your noroff email, ex: name@noroff.no" required placeholder="name@noroff.no">
                    <label for="emailReg">Noroff Email Address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control passReg" id="passReg" required placeholder="Password">
                    <label for="passReg">Password</label>
                </div>
                <div class="form-floating">
                    <input type="url" class="form-control avatarReg" id="avatarReg" required placeholder="avatarReg">
                    <label for="avatarReg">AvatarURL</label>
                </div>


                <button class="w-100 btn btn-lg btn-primary btnReg" type="submit">Register</button>
                <div class="w-100 btn btn-primary"><a href="login.html">Back to sign in</a></div>
                <div>or</div>

                <div class="w-100 btn btn-primary btnReg"><a href="search.html">Just Browse</a></div>
                <p class="mt-5 mb-3 text-muted">&copy;2023</p>

            </form>

        </main>

        <footer id="footer" class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2023 LeafTrade Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>
        <script src="/js/register.mjs" type="module"></script>
    </body>

</html>